body{
  background-color: #ccc ;
  background-image: url(img/landscape2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: right bottom;
  color: white;

}

#box{
  border: 5px solid black;
  padding: 10px;
  background-color: rgb(104, 119, 211);
  color: white;
}

h2{
  color: red;
  background: white;
  background-image: url("img/pattern2.jpg");
  border: 5px solid red;
}