/*
Complete exercise with HTML & CSS
(DONE) 1. Create HTML document and link a CSS file
(DONE) 2. Create HTML structure, that contains a GENERAL CONTAINER, HEADER, SIDEBAR, MAIN CONTENT SECTION,ELEMENTS WITHIN THE MAIN CONTAINER, & FOOTER.
3. The whole content must be in the general container and its width must be 1200px & be centered.
4. Header must occupy the 100% of the width and hav a big centered text.
5. The Menu must have each element side by side the other.
6. The main content must have a 70% width.
7. The inner content of the main container must be a grid with 4 lines of 2 boxes.
8. The sidebar must have a 30% width.
9. The footer must have a 100% width of the div that its containing it, and be at the bottom.
 */

*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body{}